.img{
    width: 600px;
    height: 450px;
    margin-top: 70px;
    margin-left: 70px;
    margin-right: 70px;
}
.name{
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    margin-bottom: 20.5px;
    margin-top: 15px;
}
.des{
    font-size: medium;
    margin-right: 300px;
    
}
.h1{
    margin-top: 70px;
    font-weight: bolder;
    margin-top: 200px;
}
.rat{
    font-size: larger;
    font-weight: bolder;
    margin-top: 25px;
}
.ing{
    font-size: medium;
    margin-right: 300px;
}
.h2{
    font-weight: bolder;
    margin-top: 20px;
}
.btn{
    margin-left: 260px;
    margin-top: -60px;
    font-weight: bolder;
}