<div>
    <mat-toolbar>

        <span>
            Welcome {{user}} 
        </span>
        <span class="nav-items">
            <span class="ml-2" (click)="navigateTo('admin')">Purchase</span>
            <span class="ml-2" (click)="navigateTo('product')">Food-Items</span>
            <span class="ml-2" (click)="navigateTo('videos/:name')">Videos</span>
            <span class="ml-2" (click)="navigateTo('feed')">Feedback</span>
            
        </span>
        <span class="example-spacer">
        </span>
        <span class="lo1"> 
            <div class="">
                <button class="btn btn-dark btn-lg btn-block" type="submit" value="Logout" (click)="logout()">Logout</button>
            </div>
        </span>


    </mat-toolbar>
</div>
