
    <div class="mt-2">

        <mat-grid-list cols="2">
          <ng-container >
            <mat-grid-tile>
              <mat-card class="example-card">
                <mat-card-header>
                  <mat-card-title style="color: #ffffff;">Biriyani</mat-card-title>
                </mat-card-header>
                <iframe width="600" height="315" src="https://www.youtube.com/embed/4THANac_Rhs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
              </mat-card>
            </mat-grid-tile>
          </ng-container>

          <ng-container >
            <mat-grid-tile>
              <mat-card class="example-card">
                <mat-card-header>
                  <mat-card-title style="color: #ffffff;">Ghee rice</mat-card-title>
                </mat-card-header>
                <iframe width="600" height="315" src="https://www.youtube.com/embed/usZvYCHmMD4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
              </mat-card>
            </mat-grid-tile>
          </ng-container>

          <ng-container >
            <mat-grid-tile>
              <mat-card class="example-card">
                <mat-card-header>
                  <mat-card-title style="color: #ffffff;">Mandhi</mat-card-title>
                </mat-card-header>
                <iframe width="600" height="315" src="https://www.youtube.com/embed/vpbM727Saz0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
              </mat-card>
            </mat-grid-tile>
          </ng-container>

          <ng-container >
            <mat-grid-tile>
              <mat-card class="example-card">
                <mat-card-header>
                  <mat-card-title style="color: #ffffff;">Porotta</mat-card-title>
                </mat-card-header>
                <iframe width="600" height="315" src="https://www.youtube.com/embed/C3AsyvCQYU8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>              </mat-card>
            </mat-grid-tile>
          </ng-container>

          <ng-container >
            <mat-grid-tile>
              <mat-card class="example-card">
                <mat-card-header>
                  <mat-card-title style="color: #ffffff;">Burger</mat-card-title>
                </mat-card-header>
                <iframe width="600" height="315" src="https://www.youtube.com/embed/L6yX6Oxy_J8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>              </mat-card>
            </mat-grid-tile>
          </ng-container>

          <ng-container >
            <mat-grid-tile>
              <mat-card class="example-card">
                <mat-card-header>
                  <mat-card-title style="color: #ffffff;">Fried Chicken</mat-card-title>
                </mat-card-header>
                <iframe width="600" height="315" src="https://www.youtube.com/embed/3CVDrAkhDmI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>              </mat-card>
            </mat-grid-tile>
          </ng-container>

          <ng-container >
            <mat-grid-tile>
              <mat-card class="example-card">
                <mat-card-header>
                  <mat-card-title style="color: #ffffff;">Pizza</mat-card-title>
                </mat-card-header>
                <iframe width="600" height="315" src="https://www.youtube.com/embed/sv3TXMSv6Lw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>              </mat-card>
            </mat-grid-tile>
          </ng-container>

          <ng-container >
            <mat-grid-tile>
              <mat-card class="example-card">
                <mat-card-header>
                  <mat-card-title style="color: #ffffff;">Fried Rice</mat-card-title>
                </mat-card-header>
                <iframe width="600" height="315" src="https://www.youtube.com/embed/0HEZ1MWFwvw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>              </mat-card>
            </mat-grid-tile>
          </ng-container>

          <ng-container >
            <mat-grid-tile>
              <mat-card class="example-card">
                <mat-card-header>
                  <mat-card-title style="color: #ffffff;">Noodles</mat-card-title>
                </mat-card-header>
                <iframe width="600" height="315" src="https://www.youtube.com/embed/Lj_XtH5jZUo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>              </mat-card>
            </mat-grid-tile>
          </ng-container>

          <ng-container >
            <mat-grid-tile>
              <mat-card class="example-card">
                <mat-card-header>
                  <mat-card-title style="color: #ffffff;">French Fries</mat-card-title>
                </mat-card-header>
                <iframe width="600" height="315" src="https://www.youtube.com/embed/kz4TElGD4b0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>              </mat-card>
            </mat-grid-tile>
          </ng-container>



        </mat-grid-list>

        
      </div>